@{
    ViewBag.Title = "PreOrderApp";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
				<h1>@ViewBag.Title</h1>
				<br/>
				<br/>
				<h2>Of course we all want to eat something for lunch.</h2> 
				<br/>
				<br/>
				<h2>But if we do so in a restaurant, each of us usually spends at least a third of the time waiting for the food to be prepared.</h2>
				<br/>
				<br/>
				<h2>For us as customers this means loosing time we could use otherwise.</h2>
            </hgroup>
			
        </div>
    </section>
}

