@using PreOrderApp
@using PreOrderApp.Models
@model IEnumerable<Payment>




<style type="text/css">
		.webGrid 
        {
            width: 100%;
            border: 0px;
            border-collapse: collapse;
        }
	</style>

@{
	var grid = new WebGrid(Model,canPage:true, canSort:true,rowsPerPage:5);
	grid.Pager((WebGridPagerModes.NextPrevious));
	if(Roles.IsUserInRole("Customer"))
	{
		@grid.GetHtml(tableStyle: "webGrid",
		                    headerStyle: "header",
		                    alternatingRowStyle: "alt",
		                    columns: grid.Columns(
								grid.Column("Date", Resources.RegisterDate, canSort: true, format: (item) => item.Date.ToString("dd.MM.yyyy HH:mm")),
										grid.Column("MenuItem.Name", Resources.MenuItemName, canSort: true),
								grid.Column("MenuItem.Price", Resources.MenuItemPrice, canSort: true, format: @<text><div style="text-align: right">@item.MenuItem.Price</div></text>),
										grid.Column("UserProfileRestaurant.LastName", Resources.RestaurantName, canSort: true)
		                    	))
		;
	}
	else
	{
		@grid.GetHtml(tableStyle: "webGrid",
							headerStyle: "header",
							alternatingRowStyle: "alt",
							columns: grid.Columns(
								grid.Column("Date", Resources.RegisterDate, canSort: true, format: (item) => item.Date.ToString("dd.MM.yyyy HH:mm")),
								grid.Column("MenuItem.Name", "Name", canSort: true),
								grid.Column("MenuItem.Price", "Price (Euro)", canSort: true),
								grid.Column("UserProfile", "Customer", canSort: true, format: (item) => item.UserProfile.LastName + " " + item.UserProfile.FirstName)
								))
		;	
	}
}
