<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings></appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=f0f65dc3-5721-4450-bb91-a1070171b884.sqlserver.sequelizer.com;Initial Catalog=dbf0f65dc357214450bb91a1070171b884;user id=nbglfklsgbqfvvpk;password='tqvPucv6YrYvRXPbDxW7on5SvMHzpvkSqodRA4iBRsK5HgbzvMRAcMjgtKtQB4QC'" providerName="System.Data.SqlClient" />
		<add name="PreOrderAppEntities" connectionString="metadata=res://*/PreOrderApp.csdl|res://*/PreOrderApp.ssdl|res://*/PreOrderApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=f0f65dc3-5721-4450-bb91-a1070171b884.sqlserver.sequelizer.com;initial catalog=dbf0f65dc357214450bb91a1070171b884;user id=nbglfklsgbqfvvpk;password='tqvPucv6YrYvRXPbDxW7on5SvMHzpvkSqodRA4iBRsK5HgbzvMRAcMjgtKtQB4QC';multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>